@using Sales.Models;
@{
  Layout = "_Layout";
}

<h1> 
  [DUMMY TITLE TEXT // VENDOR INDEX] 
</h1>

@if (@Model.Count == 0)
{
  <p> 
    [ blank space bc blank vendors ] 
  </p>
}

@foreach (Vendor singleVendor in Model)
{
  <p>
    <a href="/vendors/@singleVendor.ID">
      @singleVendor.VendorName
    </a>
  </p>
}

<a href="/">Back to home</a>

@* Footer HTML *@