@{
  Layout = "_Layout";
}

@using Sales.Models;

<p>
  [Dummy Text // SHOW VENDORS]
</p>

<ul>
  @foreach (Order singleOrder in @Model["orders"])
  {
    <li>
      <a href="/vendors/@Model["vendor"].ID/orders/@singleOrder.ID">
      @singleOrder.ProductDescription
      </a>
    </li>
  }
</ul>