@{
  Layout = "_Layout";
}

<h1>
  Good morning, Pierre. 
</h1>
<h2>
    What would you like to do today?
</h2>

<ul>  
<li> <a href="/orders/">Check upcoming orders</a>
<li> <a href="/orders/new">Create new order</a>
<li> <a href="/vendors/">Manage current vendors</a>
<li> <a href="/vendors/new">Add new vendor</a>
</ul>