@{
  Layout = "_Layout";
}

<p>
  Good morning, Pierre. 

  What would you like to do today?
  
- <a href="/orders/">Check upcoming orders</a>
- <a href="/orders/new">Create new order</a>
- <a href="/vendors/">Manage current vendors</a>
- <a href="/vendors/new">Add new vendor</a>