@using Sales.Models;
@{
  Layout = "_Layout";
}

<h1> 
  [DUMMY TITLE TEXT // ORDERS INDEX] 
</h1>

@if (@Model.Count == 0)
{
  <p> 
    [ blank space bc blank orders ] 
  </p>
}

@foreach (Order order in Model)
{
  <p>
    <a href="/orders/@order.Id">
      @order.Description
    </a>
  </p>
}

@* Footer HTML *@