@{
  Layout = "_Layout";
}

<form action="vendors/@Model.ID/orders" method="post">
  <input id="vendorID" name="vendorID" type="hidden" value="@Model.ID">
  <label for="productName">What are we adding?</label>
  <input id="productName" name="productName" type="text">
  <button type="submit">Add </button>
</form>