@{
  Layout = "_Layout";
}

<form action="/orders" method="post">
  <label for="productDescription">What are we adding?</label>
  <input id="productDescription" name="productDescription" type="text">
  <button type="submit">Add </button>
</form>