@{
  Layout = "_Layout";
}

<p>
  [DUMMY TEXT // SHOW ORDERS]
</p>

<p>
  @Model["order"].Description
  <br />
  Vendor: @Model["vendor"].Name
</p>

@* @foreach (var order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
} *@

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>