@{
  Layout = "_Layout";
}

@using Sales.Models;

<h1> 
  @Model["vendor"].Name
  <br />
  Upcoming Order
</h1>

<ul>
@* <div class="form-group outputContainer"> *@
<p>
  <li><strong> @Model["order"].Description </strong>
  <br />
  
</p>
</ul>

<div class="footer">
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a><br />
<a href='/vendors/@Model["vendor"].Id/'>See other orders for @Model["vendor"].Name</a><br />
<a href="/">Back home</a> & <a href="/vendors">Back to all vendors</a>
</div>